@import '../common.scss';
.#{$prefix}-modal {
  // display: flex;
  // justify-content: center;
  // align-items: center;
 position: fixed;
 width: 100%;
 top: 0;
 bottom: 0;
 z-index: 999;
 right: 0;
 overflow: auto;
 &.#{$prefix}-modal-mask {
  background-color: rgba(0, 0, 0, 0.3);
 }
 
}