.pivot-design-docs {
  padding: 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &-title {
    .title {
      font-size: 30px;
    }
  }

  @media only screen and (min-width: 1900px) {
    &-content {
      justify-content: center;
      padding: 50px 12vw;
    }
  }
  @media only screen and (max-width: 1900px) {
    &-content {
      padding: 50px 0;
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    .demo-container {
      position: fixed;
      height: 100%;
      padding: 8px 0.6rem;
      padding-top: 50px;
      min-width: 240px;
      background: var(--semi-color-bg-1);
      font-size: 14px;

      .demo-item {
        display: block;
        padding: 0.6rem 1.2rem;
        border-top-right-radius: 10px;
        box-shadow: 0 8px 24px #0000000d;
        margin: 0;
        cursor: pointer;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
        &.active {
          background: var(--semi-color-primary-active);
          color: var(--semi-color-link);
          font-size: 15px;
        }
      }
    }
    .demo-component {
      flex: 1;
      padding: 48px 200px 0 68px;
      background-color: var(--semi-color-bg-0);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0 8px 24px #0000000d;
      margin: 0;
      margin-left: 240px;

      .demo-component-catalogue {
        .catalog_content {
          position: fixed;
          top: 14vh;
          right: 24px;
          min-width: 120px;
          color: var(--semi-color-text-1);
          padding-inline-start: 20px;
          .link-visible {
            display: inline-block;
            position: absolute;
            top: 14.5px;
            inset-inline-start: 0;
            transform: translateY(-50%);
            transition: top 0.3s ease-in-out;
            width: 2px;
            height: 20px;
            background-color: #1677ff;
          }
          .catalog_h2 {
            font-size: 13px;
            padding: 6px 0;
            &:hover {
              cursor: pointer;
            }
            &.active {
              color: #1677ff;
            }
          }
          .catalog_h3 {
            font-size: 12px;
            text-indent: 1em;
            padding: 6px 0;
            &:hover {
              cursor: pointer;
            }
            &.active {
              color: #1677ff;
            }
          }
        }

        .catalog_content::before {
          position: absolute;
          inset-inline-start: 0;
          top: 8px;
          height: 100%;
          border-inline-start: 2px solid rgba(5, 5, 5, 0.06);
          content: ' ';
        }
      }
    }
  }
}

#nice.demo-component {
  color: var(--semi-color-text-2);

  word-break: break-all;
}
#nice.demo-component p {
  font-size: 16px;
  line-height: 1.8;
}
/* 一级标题 */
#nice.demo-component h1 {
  color: var(--semi-color-text-0);
  padding-bottom: 60px;
}
/* 一级标题修饰 请参考有实例的主题 */
#nice.demo-component h1:after {
}
/* 二级标题 */

#nice.demo-component h2 {
  position: relative;
  margin: 40px 0;
  padding: 0 16px;
  font-weight: 400;
  font-size: 20px;
  color: var(--semi-color-text-1);
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--semi-color-primary);
  }
}

#nice.demo-component h3 {
  position: relative;
  margin: 32px 0;
  margin-left: 0.8em;
  padding: 0 12px;
  font-size: 18px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: var(--semi-color-primary);
  }
}
/* 无序列表整体样式
 * list-style-type: square|circle|disc;
 */
#nice.demo-component ul {
  margin: 20px 1rem;
}
#nice.demo-component ul li::marker {
  color: var(--semi-color-primary);
}
#nice.demo-component ul li {
  text-indent: 0.5rem;
  line-height: 2;
}
/* 有序列表整体样式
 * list-style-type: upper-roman|lower-greek|lower-alpha;
 */
#nice.demo-component ol {
}
/* 列表内容，不要设置li
 */
#nice.demo-component li section {
}
/* 引用
 * 左边缘颜色 border-left-color: black;
 * 背景色 background: gray;
 */
#nice.demo-component .multiquote-1 {
  border-left-color: var(--semi-brand-4);
  background: #fff9f9;
}
/* 引用文字 */
#nice.demo-component .multiquote-1 p {
}
/* 链接
 * border-bottom: 1px solid #009688;
 */
#nice.demo-component a {
  color: var(--semi-brand-4);
  border-bottom: 1px solid var(--semi-brand-4);
}
/* 加粗 */
#nice.demo-component strong {
}
/* 斜体 */
#nice.demo-component em {
}
/* 加粗斜体 */
#nice.demo-component em strong {
}
/* 删除线 */
#nice.demo-component del {
}
/* 分隔线
 * 粗细、样式和颜色
 * border-top: 1px solid #3e3e3e;
 */
#nice.demo-component hr {
}
/* 图片
 * 宽度 width: 80%;
 * 居中 margin: 0 auto;
 * 居左 margin: 0 0;
 */
#nice.demo-component img {
}
/* 图片描述文字 */
#nice.demo-component figcaption {
}
/* 行内代码 */
#nice.demo-component p code,
#nice.demo-component li code {
  padding: 1px 2px;
  background: var(--semi-color-fill-1);
  color: var(--semi-color-secondary);
}
/* 非微信代码块
 * 代码块不换行 display: -webkit-box !important;
 * 代码块换行 display: block;
 */
#nice.demo-component pre code {
}
/*
 * 表格内的单元格
 * 字体大小 font-size: 16px;
 * 边框 border: 1px solid #ccc;
 * 内边距 padding: 5px 10px;
 */
#nice.demo-component table tr th,
#nice.demo-component table tr td {
}
/* 脚注文字 */
/* 脚注上标 */
#nice.demo-component .footnote-ref {
  color: var(--semi-brand-4);
}
/* "参考资料"四个字
 * 内容 content: "参考资料";
 */
#nice.demo-component .footnotes-sep:before {
}
/* 参考资料编号 */
#nice.demo-component .footnote-num {
}
/* 参考资料文字 */
#nice.demo-component .footnote-item p {
}
/* 参考资料解释 */
#nice.demo-component .footnote-item p em {
}
/* 行间公式
 * 最大宽度 max-width: 300% !important;
 */
#nice.demo-component .block-equation svg {
}
/* 行内公式
 */
#nice.demo-component .inline-equation svg {
}
