@import '../constants.scss';
.#{$prefix}_tabs {
  &_bar {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 32px;
    &_item {
      cursor: pointer;
      padding: 12px 0;
      &__active {
        color: var(--semi-color-primary);
      }
    }

    &_scrollrail,
    &_scrollbar {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      border-radius: 2px;
    }

    &_scrollrail {
      right: 0;
      background-color: var(--semi-color-border);
    }
    &_scrollbar {
      width: 30px;
      background-color: var(--semi-color-primary);
    }
  }
}
