body[pivot-theme='light'],
body .semi-always-light {
  --semi-black: 0, 0, 0;
  --semi-red-0: 255, 244, 239;
  --semi-red-1: 254, 225, 214;
  --semi-red-2: 254, 193, 172;
  --semi-red-3: 253, 158, 131;
  --semi-red-4: 253, 121, 91;
  --semi-red-5: 252, 81, 50;
  --semi-red-6: 216, 58, 36;
  --semi-red-7: 181, 39, 25;
  --semi-red-8: 145, 23, 16;
  --semi-red-9: 109, 11, 9;
  --semi-white: 255, 255, 255;
  --semi-blue-0: 236, 246, 255;
  --semi-blue-1: 208, 233, 255;
  --semi-blue-2: 161, 209, 254;
  --semi-blue-3: 114, 183, 254;
  --semi-blue-4: 67, 156, 253;
  --semi-blue-5: 20, 128, 253;
  --semi-blue-6: 11, 103, 217;
  --semi-blue-7: 3, 80, 182;
  --semi-blue-8: 0, 60, 146;
  --semi-blue-9: 0, 44, 110;
  --semi-cyan-0: 231, 247, 248;
  --semi-cyan-1: 198, 239, 241;
  --semi-cyan-2: 146, 221, 227;
  --semi-cyan-3: 98, 203, 213;
  --semi-cyan-4: 56, 184, 199;
  --semi-cyan-5: 19, 165, 185;
  --semi-cyan-6: 14, 135, 154;
  --semi-cyan-7: 10, 106, 123;
  --semi-cyan-8: 7, 78, 93;
  --semi-cyan-9: 4, 51, 62;
  --semi-grey-0: 249, 249, 249;
  --semi-grey-1: 231, 232, 234;
  --semi-grey-2: 199, 202, 206;
  --semi-grey-3: 168, 172, 177;
  --semi-grey-4: 139, 143, 149;
  --semi-grey-5: 110, 114, 120;
  --semi-grey-6: 88, 93, 100;
  --semi-grey-7: 68, 72, 79;
  --semi-grey-8: 49, 52, 59;
  --semi-grey-9: 31, 33, 38;
  --semi-lime-0: 243, 251, 233;
  --semi-lime-1: 227, 246, 201;
  --semi-lime-2: 203, 238, 150;
  --semi-lime-3: 182, 229, 103;
  --semi-lime-4: 166, 221, 58;
  --semi-lime-5: 153, 212, 17;
  --semi-lime-6: 124, 177, 12;
  --semi-lime-7: 97, 141, 9;
  --semi-lime-8: 71, 106, 5;
  --semi-lime-9: 46, 71, 3;
  --semi-pink-0: 253, 238, 240;
  --semi-pink-1: 251, 211, 216;
  --semi-pink-2: 247, 168, 181;
  --semi-pink-3: 244, 127, 150;
  --semi-pink-4: 240, 86, 122;
  --semi-pink-5: 236, 47, 97;
  --semi-pink-6: 200, 34, 83;
  --semi-pink-7: 165, 23, 70;
  --semi-pink-8: 129, 14, 56;
  --semi-pink-9: 93, 7, 42;
  --semi-teal-0: 230, 248, 246;
  --semi-teal-1: 196, 240, 236;
  --semi-teal-2: 143, 226, 219;
  --semi-teal-3: 95, 211, 204;
  --semi-teal-4: 52, 197, 190;
  --semi-teal-5: 15, 182, 177;
  --semi-teal-6: 11, 152, 150;
  --semi-teal-7: 8, 121, 121;
  --semi-teal-8: 5, 89, 91;
  --semi-teal-9: 3, 59, 61;
  --semi-amber-0: 254, 252, 237;
  --semi-amber-1: 253, 248, 210;
  --semi-amber-2: 250, 239, 166;
  --semi-amber-3: 248, 227, 122;
  --semi-amber-4: 245, 212, 80;
  --semi-amber-5: 243, 195, 38;
  --semi-amber-6: 203, 153, 30;
  --semi-amber-7: 162, 115, 22;
  --semi-amber-8: 122, 81, 15;
  --semi-amber-9: 81, 50, 9;
  --semi-brand-0: 235, 244, 252;
  --semi-brand-1: 206, 227, 249;
  --semi-brand-2: 159, 199, 244;
  --semi-brand-3: 114, 170, 238;
  --semi-brand-4: 71, 141, 233;
  --semi-brand-5: 30, 112, 227;
  --semi-brand-6: 20, 88, 191;
  --semi-brand-7: 11, 67, 156;
  --semi-brand-8: 5, 47, 120;
  --semi-brand-9: 1, 30, 84;
  --semi-green-0: 237, 248, 238;
  --semi-green-1: 211, 240, 213;
  --semi-green-2: 170, 226, 175;
  --semi-green-3: 133, 211, 142;
  --semi-green-4: 100, 197, 112;
  --semi-green-5: 70, 182, 86;
  --semi-green-6: 57, 152, 72;
  --semi-green-7: 44, 121, 58;
  --semi-green-8: 32, 91, 44;
  --semi-green-9: 21, 61, 29;
  --semi-indigo-0: 238, 240, 248;
  --semi-indigo-1: 212, 217, 241;
  --semi-indigo-2: 172, 182, 227;
  --semi-indigo-3: 136, 148, 212;
  --semi-indigo-4: 103, 116, 198;
  --semi-indigo-5: 73, 87, 184;
  --semi-indigo-6: 60, 71, 164;
  --semi-indigo-7: 48, 57, 143;
  --semi-indigo-8: 38, 44, 123;
  --semi-indigo-9: 28, 33, 102;
  --semi-orange-0: 255, 250, 237;
  --semi-orange-1: 255, 241, 208;
  --semi-orange-2: 255, 225, 161;
  --semi-orange-3: 255, 205, 114;
  --semi-orange-4: 255, 182, 67;
  --semi-orange-5: 255, 156, 20;
  --semi-orange-6: 213, 119, 15;
  --semi-orange-7: 170, 87, 10;
  --semi-orange-8: 128, 58, 6;
  --semi-orange-9: 85, 34, 3;
  --semi-purple-0: 248, 235, 247;
  --semi-purple-1: 240, 206, 240;
  --semi-purple-2: 225, 161, 226;
  --semi-purple-3: 207, 121, 211;
  --semi-purple-4: 188, 84, 197;
  --semi-purple-5: 168, 52, 182;
  --semi-purple-6: 145, 41, 162;
  --semi-purple-7: 122, 32, 141;
  --semi-purple-8: 101, 24, 121;
  --semi-purple-9: 80, 17, 100;
  --semi-violet-0: 244, 238, 250;
  --semi-violet-1: 229, 212, 244;
  --semi-violet-2: 202, 173, 234;
  --semi-violet-3: 175, 136, 223;
  --semi-violet-4: 147, 101, 213;
  --semi-violet-5: 120, 70, 202;
  --semi-violet-6: 100, 57, 182;
  --semi-violet-7: 82, 46, 161;
  --semi-violet-8: 65, 36, 141;
  --semi-violet-9: 50, 27, 120;
  --semi-yellow-0: 255, 254, 236;
  --semi-yellow-1: 255, 252, 208;
  --semi-yellow-2: 254, 245, 161;
  --semi-yellow-3: 254, 236, 114;
  --semi-yellow-4: 253, 224, 67;
  --semi-yellow-5: 253, 208, 20;
  --semi-yellow-6: 211, 176, 15;
  --semi-yellow-7: 169, 143, 10;
  --semi-yellow-8: 127, 109, 6;
  --semi-yellow-9: 84, 74, 3;
  --semi-light-blue-0: 235, 248, 254;
  --semi-light-blue-1: 206, 237, 252;
  --semi-light-blue-2: 158, 217, 249;
  --semi-light-blue-3: 110, 197, 247;
  --semi-light-blue-4: 64, 175, 244;
  --semi-light-blue-5: 19, 152, 241;
  --semi-light-blue-6: 10, 124, 205;
  --semi-light-blue-7: 3, 97, 170;
  --semi-light-blue-8: 0, 74, 134;
  --semi-light-blue-9: 0, 52, 98;
  --semi-light-green-0: 244, 248, 238;
  --semi-light-green-1: 228, 241, 211;
  --semi-light-green-2: 201, 227, 171;
  --semi-light-green-3: 176, 213, 134;
  --semi-light-green-4: 151, 199, 101;
  --semi-light-green-5: 127, 185, 71;
  --semi-light-green-6: 103, 154, 58;
  --semi-light-green-7: 81, 123, 45;
  --semi-light-green-8: 59, 93, 33;
  --semi-light-green-9: 38, 62, 21;
}
body[pivot-theme='dark'],
body .semi-always-dark {
  --semi-black: 0, 0, 0;
  --semi-red-0: 109, 11, 9;
  --semi-red-1: 145, 23, 16;
  --semi-red-2: 181, 39, 25;
  --semi-red-3: 216, 58, 36;
  --semi-red-4: 252, 81, 50;
  --semi-red-5: 253, 121, 91;
  --semi-red-6: 253, 158, 131;
  --semi-red-7: 254, 193, 172;
  --semi-red-8: 254, 225, 214;
  --semi-red-9: 255, 244, 239;
  --semi-white: 255, 255, 255;
  --semi-blue-0: 0, 44, 110;
  --semi-blue-1: 0, 60, 146;
  --semi-blue-2: 3, 80, 182;
  --semi-blue-3: 11, 103, 217;
  --semi-blue-4: 20, 128, 253;
  --semi-blue-5: 67, 156, 253;
  --semi-blue-6: 114, 183, 254;
  --semi-blue-7: 161, 209, 254;
  --semi-blue-8: 208, 233, 255;
  --semi-blue-9: 236, 246, 255;
  --semi-cyan-0: 4, 51, 62;
  --semi-cyan-1: 7, 78, 93;
  --semi-cyan-2: 10, 106, 123;
  --semi-cyan-3: 14, 135, 154;
  --semi-cyan-4: 19, 165, 185;
  --semi-cyan-5: 56, 184, 199;
  --semi-cyan-6: 98, 203, 213;
  --semi-cyan-7: 146, 221, 227;
  --semi-cyan-8: 198, 239, 241;
  --semi-cyan-9: 231, 247, 248;
  --semi-grey-0: 31, 33, 38;
  --semi-grey-1: 49, 52, 59;
  --semi-grey-2: 68, 72, 79;
  --semi-grey-3: 88, 93, 100;
  --semi-grey-4: 110, 114, 120;
  --semi-grey-5: 139, 143, 149;
  --semi-grey-6: 168, 172, 177;
  --semi-grey-7: 199, 202, 206;
  --semi-grey-8: 231, 232, 234;
  --semi-grey-9: 249, 249, 249;
  --semi-lime-0: 46, 71, 3;
  --semi-lime-1: 71, 106, 5;
  --semi-lime-2: 97, 141, 9;
  --semi-lime-3: 124, 177, 12;
  --semi-lime-4: 153, 212, 17;
  --semi-lime-5: 166, 221, 58;
  --semi-lime-6: 182, 229, 103;
  --semi-lime-7: 203, 238, 150;
  --semi-lime-8: 227, 246, 201;
  --semi-lime-9: 243, 251, 233;
  --semi-pink-0: 93, 7, 42;
  --semi-pink-1: 129, 14, 56;
  --semi-pink-2: 165, 23, 70;
  --semi-pink-3: 200, 34, 83;
  --semi-pink-4: 236, 47, 97;
  --semi-pink-5: 240, 86, 122;
  --semi-pink-6: 244, 127, 150;
  --semi-pink-7: 247, 168, 181;
  --semi-pink-8: 251, 211, 216;
  --semi-pink-9: 253, 238, 240;
  --semi-teal-0: 3, 59, 61;
  --semi-teal-1: 5, 89, 91;
  --semi-teal-2: 8, 121, 121;
  --semi-teal-3: 11, 152, 150;
  --semi-teal-4: 15, 182, 177;
  --semi-teal-5: 52, 197, 190;
  --semi-teal-6: 95, 211, 204;
  --semi-teal-7: 143, 226, 219;
  --semi-teal-8: 196, 240, 236;
  --semi-teal-9: 230, 248, 246;
  --semi-amber-0: 81, 50, 9;
  --semi-amber-1: 122, 81, 15;
  --semi-amber-2: 162, 115, 22;
  --semi-amber-3: 203, 153, 30;
  --semi-amber-4: 243, 195, 38;
  --semi-amber-5: 245, 212, 80;
  --semi-amber-6: 248, 227, 122;
  --semi-amber-7: 250, 239, 166;
  --semi-amber-8: 253, 248, 210;
  --semi-amber-9: 254, 252, 237;
  --semi-brand-0: 1, 30, 84;
  --semi-brand-1: 5, 47, 120;
  --semi-brand-2: 11, 67, 156;
  --semi-brand-3: 20, 88, 191;
  --semi-brand-4: 30, 112, 227;
  --semi-brand-5: 71, 141, 233;
  --semi-brand-6: 114, 170, 238;
  --semi-brand-7: 184, 215, 247;
  --semi-brand-8: 219, 235, 251;
  --semi-brand-9: 242, 248, 253;
  --semi-green-0: 21, 61, 29;
  --semi-green-1: 32, 91, 44;
  --semi-green-2: 44, 121, 58;
  --semi-green-3: 57, 152, 72;
  --semi-green-4: 70, 182, 86;
  --semi-green-5: 100, 197, 112;
  --semi-green-6: 133, 211, 142;
  --semi-green-7: 170, 226, 175;
  --semi-green-8: 211, 240, 213;
  --semi-green-9: 237, 248, 238;
  --semi-indigo-0: 28, 33, 102;
  --semi-indigo-1: 38, 44, 123;
  --semi-indigo-2: 48, 57, 143;
  --semi-indigo-3: 60, 71, 164;
  --semi-indigo-4: 73, 87, 184;
  --semi-indigo-5: 103, 116, 198;
  --semi-indigo-6: 136, 148, 212;
  --semi-indigo-7: 172, 182, 227;
  --semi-indigo-8: 212, 217, 241;
  --semi-indigo-9: 238, 240, 248;
  --semi-orange-0: 85, 34, 3;
  --semi-orange-1: 128, 58, 6;
  --semi-orange-2: 170, 87, 10;
  --semi-orange-3: 213, 119, 15;
  --semi-orange-4: 255, 156, 20;
  --semi-orange-5: 255, 182, 67;
  --semi-orange-6: 255, 205, 114;
  --semi-orange-7: 255, 225, 161;
  --semi-orange-8: 255, 241, 208;
  --semi-orange-9: 255, 250, 237;
  --semi-purple-0: 80, 17, 100;
  --semi-purple-1: 101, 24, 121;
  --semi-purple-2: 122, 32, 141;
  --semi-purple-3: 145, 41, 162;
  --semi-purple-4: 168, 52, 182;
  --semi-purple-5: 188, 84, 197;
  --semi-purple-6: 207, 121, 211;
  --semi-purple-7: 225, 161, 226;
  --semi-purple-8: 240, 206, 240;
  --semi-purple-9: 248, 235, 247;
  --semi-violet-0: 50, 27, 120;
  --semi-violet-1: 65, 36, 141;
  --semi-violet-2: 82, 46, 161;
  --semi-violet-3: 100, 57, 182;
  --semi-violet-4: 120, 70, 202;
  --semi-violet-5: 147, 101, 213;
  --semi-violet-6: 175, 136, 223;
  --semi-violet-7: 202, 173, 234;
  --semi-violet-8: 229, 212, 244;
  --semi-violet-9: 244, 238, 250;
  --semi-yellow-0: 84, 74, 3;
  --semi-yellow-1: 127, 109, 6;
  --semi-yellow-2: 169, 143, 10;
  --semi-yellow-3: 211, 176, 15;
  --semi-yellow-4: 253, 208, 20;
  --semi-yellow-5: 253, 224, 67;
  --semi-yellow-6: 254, 236, 114;
  --semi-yellow-7: 254, 245, 161;
  --semi-yellow-8: 255, 252, 208;
  --semi-yellow-9: 255, 254, 236;
  --semi-light-blue-0: 0, 52, 98;
  --semi-light-blue-1: 0, 74, 134;
  --semi-light-blue-2: 3, 97, 170;
  --semi-light-blue-3: 10, 124, 205;
  --semi-light-blue-4: 19, 152, 241;
  --semi-light-blue-5: 64, 175, 244;
  --semi-light-blue-6: 110, 197, 247;
  --semi-light-blue-7: 158, 217, 249;
  --semi-light-blue-8: 206, 237, 252;
  --semi-light-blue-9: 235, 248, 254;
  --semi-light-green-0: 38, 62, 21;
  --semi-light-green-1: 59, 93, 33;
  --semi-light-green-2: 81, 123, 45;
  --semi-light-green-3: 103, 154, 58;
  --semi-light-green-4: 127, 185, 71;
  --semi-light-green-5: 151, 199, 101;
  --semi-light-green-6: 176, 213, 134;
  --semi-light-green-7: 201, 227, 171;
  --semi-light-green-8: 228, 241, 211;
  --semi-light-green-9: 244, 248, 238;
}
