@import './common.scss';

body[pivot-theme='light'],
body .semi-always-light {
  --semi-color-bg-0: rgba(var(--semi-white), 1);
  --semi-color-bg-1: rgba(var(--semi-white), 1);
  --semi-color-bg-2: rgba(var(--semi-white), 1);
  --semi-color-bg-3: rgba(var(--semi-white), 1);
  --semi-color-bg-4: rgba(var(--semi-white), 1);
  --semi-color-info: rgba(var(--semi-blue-5), 1);
  --semi-color-link: rgba(var(--semi-blue-5), 1);
  --semi-color-nav-bg: rgba(var(--semi-white), 1);
  --semi-color-black: rgba(var(--semi-black), 1);
  --semi-color-fill-0: rgba(var(--semi-grey-8), 0.05);
  --semi-color-fill-1: rgba(var(--semi-grey-8), 0.09);
  --semi-color-fill-2: rgba(var(--semi-grey-8), 0.13);
  --semi-color-text-0: rgba(var(--semi-grey-9), 1);
  --semi-color-text-1: rgba(var(--semi-grey-9), 0.8);
  --semi-color-text-2: rgba(var(--semi-grey-9), 0.6);
  --semi-color-text-3: rgba(var(--semi-grey-9), 0.35);
  --semi-color-white: rgba(var(--semi-white), 1);
  --semi-color-border: rgba(var(--semi-grey-9), 0.08);
  --semi-color-danger: rgba(var(--semi-red-5), 1);
  --semi-color-shadow: rgba(var(--semi-black), 0.04);
  --semi-color-default: rgba(var(--semi-grey-0), 1);
  --semi-color-info-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-link-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-primary: rgba(var(--semi-brand-5), 1);
  --semi-color-primary-dark: rgba(var(--semi-brand-0), 1);

  --semi-color-success: rgba(var(--semi-green-5), 1);
  --semi-color-warning: rgba(var(--semi-orange-5), 1);
  --semi-color-info-active: rgba(var(--semi-blue-7), 1);
  --semi-color-link-active: rgba(var(--semi-blue-7), 1);
  --semi-color-link-visited: rgba(var(--semi-blue-5), 1);
  --semi-color-tertiary: rgba(var(--semi-grey-5), 1);
  --semi-color-focus-border: rgba(var(--semi-brand-5), 1);
  --semi-color-info-disabled: rgba(var(--semi-blue-2), 1);
  --semi-color-overlay-bg: rgba(22, 22, 26, 0.6);
  --semi-color-danger-hover: rgba(var(--semi-red-6), 1);
  --semi-color-highlight: rgba(var(--semi-black), 1);
  --semi-color-secondary: rgba(var(--semi-blue-5), 1);
  --semi-color-danger-active: rgba(var(--semi-red-7), 1);
  --semi-color-disabled-bg: rgba(var(--semi-grey-1), 1);
  --semi-color-default-hover: rgba(var(--semi-grey-1), 1);
  --semi-color-primary-hover: rgba(var(--semi-brand-6), 1);
  --semi-color-success-hover: rgba(var(--semi-green-6), 1);
  --semi-color-warning-hover: rgba(var(--semi-orange-6), 1);
  --semi-color-default-active: rgba(var(--semi-grey-2), 1);
  --semi-color-disabled-fill: rgba(var(--semi-grey-8), 0.04);
  --semi-color-disabled-text: rgba(var(--semi-grey-9), 0.35);
  --semi-color-highlight-bg: rgba(var(--semi-yellow-4), 1);
  --semi-color-primary-active: rgba(var(--semi-brand-7), 1);
  --semi-color-success-active: rgba(var(--semi-green-7), 1);
  --semi-color-warning-active: rgba(var(--semi-orange-7), 1);
  --semi-color-tertiary-hover: rgba(var(--semi-grey-6), 1);
  --semi-color-disabled-border: rgba(var(--semi-grey-1), 1);
  --semi-color-primary-disabled: rgba(var(--semi-brand-2), 1);
  --semi-color-success-disabled: rgba(var(--semi-green-2), 1);
  --semi-color-tertiary-active: rgba(var(--semi-grey-7), 1);
  --semi-color-secondary-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-secondary-active: rgba(var(--semi-blue-7), 1);
  --semi-color-info-light-hover: rgba(var(--semi-blue-1), 1);
  --semi-color-info-light-active: rgba(var(--semi-blue-2), 1);
  --semi-color-secondary-disabled: rgba(var(--semi-blue-2), 1);
  --semi-color-info-light-default: rgba(var(--semi-blue-0), 1);
  --semi-color-danger-light-hover: rgba(var(--semi-red-1), 1);
  --semi-color-danger-light-active: rgba(var(--semi-red-2), 1);
  --semi-color-danger-light-default: rgba(var(--semi-red-0), 1);
  --semi-color-primary-light-hover: rgba(var(--semi-brand-1), 1);
  --semi-color-success-light-hover: rgba(var(--semi-green-1), 1);
  --semi-color-warning-light-hover: rgba(var(--semi-orange-1), 1);
  --semi-color-primary-light-active: rgba(var(--semi-brand-2), 1);
  --semi-color-success-light-active: rgba(var(--semi-green-2), 1);
  --semi-color-warning-light-active: rgba(var(--semi-orange-2), 1);
  --semi-color-primary-light-default: rgba(var(--semi-brand-0), 1);
  --semi-color-success-light-default: rgba(var(--semi-green-0), 1);
  --semi-color-tertiary-light-hover: rgba(var(--semi-grey-1), 1);
  --semi-color-warning-light-default: rgba(var(--semi-orange-0), 1);
  --semi-color-tertiary-light-active: rgba(var(--semi-grey-2), 1);
  --semi-color-secondary-light-hover: rgba(var(--semi-blue-1), 1);
  --semi-color-tertiary-light-default: rgba(var(--semi-grey-0), 1);
  --semi-color-secondary-light-active: rgba(var(--semi-blue-2), 1);
  --semi-color-secondary-light-default: rgba(var(--semi-blue-0), 1);
  -webkit-font-smoothing: antialiased;
  --semi-shadow-elevated: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  --semi-shadow-0: none;
  --semi-shadow-1: none;
  --semi-shadow-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.16);
  --semi-shadow-knob: 0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  --semi-border-radius-full: 9999px;
  --semi-border-radius-large: 12px;
  --semi-border-radius-small: 6px;
  --semi-border-radius-circle: 50%;
  --semi-border-radius-medium: 6px;
  --semi-border-radius-extra-small: 3px;
}

body[pivot-theme='dark'],
body .semi-always-dark {
  --semi-color-bg-0: rgba(22, 22, 26, 1);
  --semi-color-bg-1: rgba(35, 36, 41, 1);
  --semi-color-bg-2: rgba(53, 54, 60, 1);
  --semi-color-bg-3: rgba(67, 68, 74, 1);
  --semi-color-bg-4: rgba(79, 81, 89, 1);
  --semi-color-info: rgba(var(--semi-blue-5), 1);
  --semi-color-link: rgba(var(--semi-blue-5), 1);
  --semi-color-nav-bg: rgba(35, 36, 41, 1);
  --semi-color-black: rgba(var(--semi-black), 1);
  --semi-color-fill-0: rgba(var(--semi-white), 0.05);
  --semi-color-fill-1: rgba(var(--semi-white), 0.09);
  --semi-color-fill-2: rgba(var(--semi-white), 0.13);
  --semi-color-text-0: rgba(var(--semi-grey-9), 1);
  --semi-color-text-1: rgba(var(--semi-grey-9), 0.8);
  --semi-color-text-2: rgba(var(--semi-grey-9), 0.6);
  --semi-color-text-3: rgba(var(--semi-grey-9), 0.35);
  --semi-color-text-4: rgba(var(--semi-grey-3), 1);

  --semi-color-white: rgba(228, 231, 245, 1);
  --semi-color-border: rgba(var(--semi-white), 0.08);
  --semi-color-danger: rgba(var(--semi-red-5), 1);
  --semi-color-shadow: rgba(var(--semi-black), 0.04);
  --semi-color-default: rgba(var(--semi-grey-0), 1);
  --semi-color-info-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-link-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-primary: rgba(var(--semi-brand-5), 1);
  --semi-color-success: rgba(var(--semi-green-5), 1);
  --semi-color-primary-dark: rgba(var(--semi-brand-0), 1);
  --semi-color-warning: rgba(var(--semi-orange-5), 1);
  --semi-color-info-active: rgba(var(--semi-blue-7), 1);
  --semi-color-link-active: rgba(var(--semi-blue-7), 1);
  --semi-color-link-visited: rgba(var(--semi-blue-5), 1);
  --semi-color-tertiary: rgba(var(--semi-grey-5), 1);
  --semi-color-focus-border: rgba(var(--semi-brand-5), 1);
  --semi-color-info-disabled: rgba(var(--semi-blue-2), 1);
  --semi-color-overlay-bg: rgba(22, 22, 26, 0.6);
  --semi-color-danger-hover: rgba(var(--semi-red-6), 1);
  --semi-color-highlight: rgba(var(--semi-white), 1);
  --semi-color-secondary: rgba(var(--semi-blue-5), 1);
  --semi-color-danger-active: rgba(var(--semi-red-7), 1);
  --semi-color-disabled-bg: rgba(var(--semi-grey-1), 1);
  --semi-color-default-hover: rgba(var(--semi-grey-1), 1);
  --semi-color-primary-hover: rgba(var(--semi-brand-6), 0.2);
  --semi-color-success-hover: rgba(var(--semi-green-6), 1);
  --semi-color-warning-hover: rgba(var(--semi-orange-6), 1);
  --semi-color-default-active: rgba(var(--semi-grey-2), 1);
  --semi-color-disabled-fill: rgba(var(--semi-grey-8), 0.04);
  --semi-color-disabled-text: rgba(var(--semi-grey-9), 0.35);
  --semi-color-highlight-bg: rgba(var(--semi-yellow-2), 1);
  --semi-color-primary-active: rgba(var(--semi-brand-6), 0.1);
  --semi-color-success-active: rgba(var(--semi-green-7), 1);
  --semi-color-warning-active: rgba(var(--semi-orange-7), 1);
  --semi-color-tertiary-hover: rgba(var(--semi-grey-6), 1);
  --semi-color-disabled-border: rgba(var(--semi-grey-1), 1);
  --semi-color-primary-disabled: rgba(var(--semi-brand-2), 1);
  --semi-color-success-disabled: rgba(var(--semi-green-2), 1);
  --semi-color-tertiary-active: rgba(var(--semi-grey-7), 1);
  --semi-color-secondary-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-secondary-active: rgba(var(--semi-blue-7), 1);
  --semi-color-info-light-hover: rgba(var(--semi-blue-5), 0.3);
  --semi-color-info-light-active: rgba(var(--semi-blue-5), 0.4);
  --semi-color-secondary-disabled: rgba(var(--semi-blue-2), 1);
  --semi-color-info-light-default: rgba(var(--semi-blue-5), 0.2);
  --semi-color-danger-light-hover: rgba(var(--semi-red-5), 0.3);
  --semi-color-danger-light-active: rgba(var(--semi-red-5), 0.4);
  --semi-color-danger-light-default: rgba(var(--semi-red-5), 0.2);
  --semi-color-primary-light-hover: rgba(var(--semi-brand-5), 0.3);
  --semi-color-success-light-hover: rgba(var(--semi-green-5), 0.3);
  --semi-color-warning-light-hover: rgba(var(--semi-orange-5), 0.3);
  --semi-color-primary-light-active: rgba(var(--semi-brand-5), 0.4);
  --semi-color-success-light-active: rgba(var(--semi-green-5), 0.4);
  --semi-color-warning-light-active: rgba(var(--semi-orange-5), 0.4);
  --semi-color-primary-light-default: rgba(var(--semi-brand-5), 0.2);
  --semi-color-success-light-default: rgba(var(--semi-green-5), 0.2);
  --semi-color-tertiary-light-hover: rgba(var(--semi-grey-5), 0.3);
  --semi-color-warning-light-default: rgba(var(--semi-orange-5), 0.2);
  --semi-color-tertiary-light-active: rgba(var(--semi-grey-5), 0.4);
  --semi-color-secondary-light-hover: rgba(var(--semi-blue-5), 0.3);
  --semi-color-tertiary-light-default: rgba(var(--semi-grey-5), 0.2);
  --semi-color-secondary-light-active: rgba(var(--semi-blue-5), 0.4);
  --semi-color-secondary-light-default: rgba(var(--semi-blue-5), 0.2);
  -webkit-font-smoothing: antialiased;
  --semi-shadow-elevated: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  --semi-shadow-0: none;
  --semi-shadow-1: none;
  --semi-shadow-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.16);
  --semi-shadow-knob: 0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  --semi-border-radius-full: 9999px;
  --semi-border-radius-large: 12px;
  --semi-border-radius-small: 6px;
  --semi-border-radius-circle: 50%;
  --semi-border-radius-medium: 6px;
  --semi-border-radius-extra-small: 3px;
}
