@import '../common.scss';
.#{$prefix}-button {
  cursor: pointer;
  padding: 6px 18px;
  background-color: var(
    --button-background-color,
    var(--pivot-button-background-color)
  );
  border-radius: 8px;
}
