@import '../constants.scss';
.#{$prefix}-button {
  display: flex;
  cursor: pointer;
  margin: 10px;
  color: var(--Brand-1-100);
  &:not(&-disabled):active {
    opacity: 0.7;
  }
  &-small {
    font-size: 14px;
    padding: 10px 60px;
    border-radius: 12px;
  }
  &-middle {
    font-size: 16px;
    padding: 15px 100px;
    border-radius: 15px;
  }
  &-large {
    font-size: 16px;
    padding: 20px 140px;
    border-radius: 15px;
  }
  &-default {
    border: 1px solid var(--button-background-color, var(--pivot-button-background-color));
    background-color: var(--Gray-100);
    &.#{$prefix}-button-disabled {
      background-color: transparent;
      border-color: var(--button-disabled-background-color, var(--pivot-button-disabled-background-color));
      color: var(--button-disabled-background-color, var(--pivot-button-disabled-background-color));
    }
    &:not(.#{$prefix}-button-disabled):hover {
      border-color: var(--button-background-color, var(--pivot-button-hover-background-color));
      color: var(--pivot-button-hover-background-color);
    }
  }

  &-primary {
    background-color: var(--button-background-color, var(--pivot-button-background-color));
    color: var(--Gray-100);
    &.#{$prefix}-button-disabled {
      background-color: var(--button-disabled-background-color, var(--pivot-button-disabled-background-color));
      color: var(--Gray-100);
    }
    &:not(.#{$prefix}-button-disabled):hover {
      background-color: var(--button-background-color, var(--pivot-button-hover-background-color));
    }
  }

  &-text {
    background-color: transparent !important;

    &.#{$prefix}-button-disabled {
      color: var(--button-disabled-background-color, var(--pivot-button-disabled-background-color));
    }
  }

  &-disabled {
    cursor: no-drop;
  }

  &-loading {
    cursor: auto;
  }
}
