.pivot-code-box {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 16px 0;
  overflow: hidden;
  border: 1px solid rgba(243, 242, 242, 0.1);
  border-radius: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  &-actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 4px 8px;
    .pivot-code-box-icon {
      cursor: pointer;
    }
  }
  &-demo {
    padding: 60px 30px;
    display: flex;
    border: 1px solid rgba(243, 242, 242, 0.1);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    > :not(.PIVOT-draggable-item) {
      margin: 0 24px;
    }
  }

  .line-numbers {
    //width: 100%;
    .code-toolbar {
      .data-prismjs-copy {
        //width: 70vw;
        //width: 100%;
        overflow: auto;
        margin: 0;
      }
    }
  }
}
