@import '../common.scss';

.input-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  .icon-wrapper {
    position: absolute;
    height: 100%;
    width: 40px;
    justify-content: center;
    color: $pivot-gray-700;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      color: $pivot-gray-600;
      margin: auto;
    }
  }
}
.icon-wrapper + .input-inner {
  padding-right: 35px;
}
.input-inner {
  width: 100%;
  padding: 15px 30px;
  // font-family: $input-font-family;
  font-size: 16px;
  // font-weight: $input-font-weight;
  // line-height: $input-line-height;
  color: $pivot-gray-700;
  background-color: $pivot-white;
  background-clip: padding-box;
  border: 2px solid $pivot-gray-400;
  border-radius: 1rem;

  border-radius: 5px;

  // box-shadow: $input-box-shadow;
  transition: all 100ms ease-out;
  &:hover {
    // color: $btn-link-hover-color;
    text-decoration: none;
  }
  &:focus {
    color: $pivot-gray-700;
    // color: #aaa;
    background-color: $pivot-white;
    outline: 0;
  }
  &::placeholder {
    color: $pivot-gray-600;
  }
  &:disabled,
  &[readonly] {
    background-color: $pivot-gray-200;
  }

  &--disabled {
    cursor: not-allowed;
  }
}
.input-group-prepend,
.input-group-append {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 10;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  white-space: nowrap;
  background-color: $pivot-white;
  border: 2px solid $pivot-gray-400;
  border-radius: 5px;
}
.input-group {
  padding: 2px;
}

.input-size-sm .input-inner {
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
}

.input-size-lg .input-inner {
  padding: 20px 40px;
  font-size: 20px;
  border-radius: 10px;
}
