.center {
  display: flex;
  justify-content: center;
  width: 100%;
  div {
    margin: 20px;
    padding: 5px 15px;
    border: 1px solid black;
  }
}

.space {
  display: flex;
  justify-content: space-between;
  width: 100%;
  div {
    margin: 20px;
    padding: 5px 15px;
    border: 1px solid black;
    text-align: center;
  }
}
