.demo-draggable-item {
  color: #fff;
  background-color: #3685f5;
  padding: 8px 18px;
  border-radius: 4px;
}
.demo-sortable-horizen {
  padding: 8px 88px;
}
.demo-sortable-grid {
  padding: 32px 40px;
  margin: 24px;
}
