* {
  padding: 0;
  margin: 0;
}

body,
html,
#root {
  height: 100%;
  font-family: system, -apple-system, BlinkMacSystemFont, PingFang SC, Segoe UI, Microsoft YaHei, wenquanyi micro hei,
    Hiragino Sans GB, Hiragino Sans GB W3, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--semi-color-text-0);
}

.display {
  height: auto;
}

.hidden {
  height: 0;
}



