@import '../../common.scss';

.#{$prefix}-sortable-wrap {
  display: flex;
  flex: 1;

  &.__#{$prefix}-sortable-vertical {
    flex-direction: column;
  }

  &.__#{$prefix}-sortable-horizen {
    justify-content: space-around;
  }
}
