.pivot-design-home {
  // background-color: var(--master-bg-color);
  height: 100%;

  #headerText {
    fill: wheat;
  }

  .pivot-design-home-title {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0;
    z-index: 100;
    .title {
      transform: translate3d(0, -18px, 0);
      width: 200px;
      height: 36px;
      font-size: 30px;
      color: var(--master-text-color);
    }
    .navigation-wrapper {
      display: flex;
      .navigator {
        margin: 0 20px;
        padding: 8px 30px;
        border: 1px solid transparent;
        box-sizing: border-box;
        border-radius: 20px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: var(--link-color);
        border: 1px solid;
        transition: 0.5s;
        &:hover {
          border-color: var(--link-color);
          box-shadow: inset 0 0 0 2em var(--link-color);
          color: #000000;
        }
      }
    }
  }

  .homepage {
    position: relative;
    min-height: 200%;

    .background {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(60deg, #332051 0%, #000000 100%);
      background-attachment: fixed;

      .big-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        color: var(--master-text-color);
        font-size: 82px;
        font-weight: bold;
        letter-spacing: 0.1em;
        span {
          text-shadow: 1px 1px rgba(115, 109, 85, 0.02), 2px 2px rgba(115, 109, 85, 0.02),
            3px 3px rgba(115, 109, 85, 0.02), 4px 4px rgba(115, 109, 85, 0.02),
            0.125rem 0.125rem rgba(115, 109, 85, 0.02), 6px 6px rgba(115, 109, 85, 0.02),
            7px 7px rgba(115, 109, 85, 0.02), 8px 8px rgba(115, 109, 85, 0.02), 9px 9px rgba(115, 109, 85, 0.02),
            0.3125rem 0.3125rem rgba(115, 109, 85, 0.02), 11px 11px rgba(115, 109, 85, 0.02),
            12px 12px rgba(115, 109, 85, 0.02), 13px 13px rgba(115, 109, 85, 0.02), 14px 14px rgba(115, 109, 85, 0.02),
            0.625rem 0.625rem rgba(115, 109, 85, 0.02), 16px 16px rgba(115, 109, 85, 0.02),
            17px 17px rgba(115, 109, 85, 0.02), 18px 18px rgba(115, 109, 85, 0.02), 19px 19px rgba(115, 109, 85, 0.02),
            1.25rem 1.25rem rgba(115, 109, 85, 0.02);
        }

        @for $i from 0 through 11 {
          .title_letter_#{$i} {
            color: darken(#d89ddc, 3% * $i);
          }
        }
      }
      .layer {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
        &.left_birds,
        &.right_birds {
          opacity: 0;

          background-repeat: no-repeat;
          background-size: 500px;
        }
        &.left_birds {
          background-position: 40% center;
          background-image: url(../../images/left_bird.svg);
        }
        &.right_birds {
          background-position: 60% center;
          background-image: url(../../images/right_birds.svg);
        }
        &.bats {
          left: 50%;
          right: auto;
          transform: translateX(-50%);
        }
        &.mountain0,
        &.mountain1 {
          top: auto;
          bottom: -10px;
        }
        @for $i from 0 through 2 {
          &.mountain#{$i} {
            z-index: calc(10 - $i);
          }
        }
      }
      .pivot-design-description {
        color: var(--master-bg-color);
        transform: scale(0.4);
        opacity: 0;
        &-header {
          width: 100%;
          text-align: center;
          font-size: 54px;
        }
      }
    }
    .home-item {
      margin: 10vh 0;
      min-height: 80vh;
      width: 100%;
      background-color: var(--master-bg-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        svg {
          &:hover {
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          }
          height: 400px;
          width: 400px;
        }
      }
    }
  }
}
