@import '../../common.scss';

button {
  margin: 20px;
  padding: 3px 15px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.show-box {
  height: 20px;
}
