.demo-sortable-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  &.__demo-sortable-vertical {
    flex-direction: column;
  }

  .demo-sortable-item {
    width: 50%;
    background-color: var(--semi-color-primary);
    color: var(--semi-color-white);
    text-align: center;
    padding: 12px 0;
    margin: 8px 0;
    border-radius: 16px;
    cursor: grab;
    cursor: -webkit-grab;
    user-select: none;
  }
}
